@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/*================================= Utilities section start ===================================*/
.flex{
    display: flex;
    align-items: center;
}

/*================================= utilities section end ===================================*/

/*================================= Navigation Bar ===================================*/

nav{
    background-color: #302a2a;
    padding: 5px 3rem;
    justify-content: space-between;
}

.logo i{
    color: azure;
    font-size: 1.4rem;
    letter-spacing: 3px;
    font-weight: 600;
    filter: drop-shadow(1px 2px 4px rgb(226, 250, 9));
}
.logo img{
    height: 6vh;
    border-radius: 100%;
    margin-right: 2rem;
}

nav a{
    font-size: 1.4rem;
    color: azure;
    margin: 0px 2rem;
    text-decoration: none;
    transition: all 0.4s ease;
}

nav a:hover{
    color: lightskyblue;
}

.btn{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn:hover{
    background-color: lightskyblue;
    color: white;
}

.container{
    box-sizing: border-box;
    padding: 10px;
}

.title{
    margin: 15px auto;
    font-size: 1.7rem;
    letter-spacing: 2.3px;
    font-weight: 500;
    filter: drop-shadow(1px 2px 4px rgb(11, 203, 236));
    display: block;
    text-align: center;
}

/*================================= Landing Page section ===================================*/

.landingPage{
    background-color: #ffffff;
    padding: 10px;
    font-size: 1.2em;
    justify-content: space-around;
}

.lpImg img{
    height: 65vh;
}

.lpContent{
    padding: 20px;
    width: 50vw;
}
.lpContent h2{
    color: midnightblue;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.lpContent h3{
    color: midnightblue;
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
}
.typing{
    color: maroon;
}
.contents{
    color: maroon;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
    line-height: 1.5;
    padding: 5px;
}

/*================================= about section ===================================*/

.aboutDev{
    background-color: azure;
    padding: 10px 80px;
    justify-content: space-around;
}

.aboutDev img{
    height: 35vh;
    border-radius: 15px;
}

/*================================= skills using swipper.js ===================================*/

 .swiper {
     width: 100%;
     height: 100%;
 }

 .swiper-slide {
     padding: 1.5rem 0;
     text-align: center;
     background: #fff;

     /* Center slide text vertically */
     display: -webkit-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     -webkit-justify-content: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     -webkit-align-items: center;
     align-items: center;
     flex-direction: column;
 }

 .slider-box{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 10px;
     margin: 0 !important;
 }

 .slider-box p{
     color: indigo;
     padding: 10px 0;
 }

 .slider-box:hover{
    background-color: rgb(239, 239, 252);
 }

 .swiper-slide img {
     display: block;
     height: 20vh;
     border-radius: 8px;
     margin-bottom: 15px;
     object-fit: cover;
 }

 .project-link{
     padding: 15px 0;
     letter-spacing: 1px;
     font-weight: bold;
     cursor: pointer;
     text-decoration: none;
 }

 .project-link:hover{
     color: red;
     text-decoration: underline;
 }

/*================================= skills section ===================================*/

.boxes{
    justify-content: space-between;
}

.box{
    padding: 5px;
    text-align: center;
    padding: 5px;
    margin: 0px 14px;
    transition: all 0.4s ease;
}

.box:hover{
    background-color: rgb(239, 239, 252);
}

.box h3{
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 12px 0;
    filter: drop-shadow(1px 2px 4px blue);
}
.box i{
    font-size: 1.1rem;
    color: magenta;
}
.box i:hover{
    cursor: pointer;
    color: red;
    border-bottom: 1px solid magenta;
}

.box img{
    height: 25vh;
    border-radius: 10px;
}

/*================================= contact section ===================================*/
.contact-us h4{
    font-size: 15px;
}
.my_details span{
    margin: 12px 0;
}
.details_icon{
    height: 4vh;
    margin-right: 1rem;
    line-height: 1.7;
}

.contact_form{
    flex-direction: column;
    width: 30vw;
}

.contact_form :where(input, textarea){
    border: 2px solid olive;
    border-radius: 6px;
    outline: none;
    padding: 8px;
    margin: 5px 0;
    width: 90%;
    font-size: 16px;
}

.contact_form textarea{
    height: 16vh;
    resize: none;
}

.contact-us{
    justify-content: space-around;
    background-color: azure;
    text-align: center;
    padding: 10px;
}


/*================================= footer section ===================================*/

footer{
    background-color: #302a2a;
    color: #ffffff;
    font-size: 1.3rem;
    letter-spacing: 2px;
    text-align: center;
    padding: 15px;
}
footer i{
    letter-spacing: 3px;
    filter: drop-shadow(1px 2px 4px rgb(226, 250, 9));    
}

footer a{
    text-decoration: none;
}

.footer_links_img{
    height: 5.5vh;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 1.4rem;
}


/*================================= Making Responsive ===================================*/

@media screen and (max-width: 1120px) {
    .logo{
        margin: 10px 0;
    }

    .logo i{
        font-size: 15px;
    }

    nav{
        padding: 10px;
        flex-direction: column;
        justify-content: space-between;
    }

    nav a{
        margin: 5px;
        font-size: 15px;
    }

    .nav-btn{
        display: none;
    }

    .landingPage{
        flex-direction: column;
    }
    .lpContent{
        width: 90vw;
    }

    .lpContent h2{
        font-size: 20px;
    }

    .lpImg img{
        height: 40vh;
    }

    .aboutDev{
        flex-direction: column;
        padding: 10px;
    }

    .aboutDev img{
        margin: 10px 0;
    }

    .boxes{
        flex-direction: column;
    }

    .box{
        margin: 14px;
    }

    .box h3{
        font-size: 15px;
    }

    .blogContainer{
        flex-direction: column;
    }

    .contact-us{
        flex-direction: column;
    }

    .contact-form{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .ico{
        font-size: 14px;
    }

    .con{
        font-size: 15px;
    }

    .contents{
        font-size: 14px;
        line-height: 1.5;
    }

    #submitBtn{
        margin: 10px;
        width: 25vw;
    }

    footer{
        font-size: 14px;
    }

    .footer-icons img{
        margin: 5px;
        height: 5vh;
    }

    .swiper-slide img{
        height: 15vh;
    }

    .contact_form {
        width: 75vw;
    }
}